<div id="modal" class="modal fade">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeModal()">&times;</button>
        <h4 class="modal-title">Edit User</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" class="form">

          <div class="input-group">
            <span class="input-group-addon">
                  <i class="material-icons">face</i>
                </span>
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input type="text" class="form-control" formControlName="firstname">
            </div>
          </div>

          <div class="input-group">
            <span class="input-group-addon">
                  <i class="material-icons">face</i>
                </span>
            <div class="form-group">
              <label class="control-label">Last Name</label>
              <input type="text" class="form-control" formControlName="lastname">
            </div>
          </div>

          <div class="input-group">
            <span class="input-group-addon">
                  <i class="material-icons">face</i>
                </span>
            <div class="form-group">
              <label class="control-label">Username</label>
              <input type="text" class="form-control" formControlName="username">
            </div>
          </div>

          <div class="input-group">
            <span class="input-group-addon">
                  <i class="material-icons">lock</i>
                </span>
            <div class="form-group">
              <label class="control-label">Password</label>
              <input type="text" class="form-control" formControlName="password">
            </div>
          </div>

          <div class="input-group">
            <span class="input-group-addon">
                  <i class="material-icons">email</i>
                </span>
            <div class="form-group">
              <label class="control-label">Email</label>
              <input type="text" class="form-control" formControlName="email">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="saveUser()">Save</button>
      </div>
    </div>
  </div>
</div>
